:root {
  // Light Brand
  --pk-primary-01: #005eb4;
  --pk-primary-02: #1c88eb;
  --pk-primary-03: #0356a3;
  --pk-primary-04: #043f74;
  --pk-secondary-01: #1bc4db;
  --pk-secondary-02: #70eeff;
  --pk-secondary-03: #148595;
  --pk-secondary-04: #046876;
  --pk-tertiary-01: #db1b77;
  --pk-tertiary-02: #ef4998;
  --pk-tertiary-03: #bf1566;
  --pk-tertiary-04: #74063b;
  --pk-accent-01: #84b672;
  --pk-accent-02: #9ddd86;
  --pk-accent-03: #63a949;
  --pk-accent-alt-01: #e18441;
  --pk-accent-alt-02: #efa671;
  --pk-accent-alt-03: #cf6619;
  // Interaction
  --pk-interaction: #005eb4;
  --pk-interaction-compl: #ffffff;
  --pk-interaction-high-contrast: #ffffff;
  // Text
  --pk-text-01: #1a313c;
  --pk-text-02: #59707b;
  --pk-text-03: #8198a3;
  --pk-text-04: #ffffff;
  --pk-text-05: #2c2c2c;
  // Ui
  --pk-ui-01: #ffffff;
  --pk-ui-02: #dbe8ed;
  --pk-ui-03: #b3c0c5;
  --pk-ui-04: #9ba8ad;
  --pk-ui-05: #1a313c;
  --pk-ui-06: #000000;
  // Data
  --pk-data-01: #005eb4;
  --pk-data-02: #00d9f7;
  --pk-data-03: #148595;
  --pk-data-04: #db1b77;
  //Support
  --pk-support-01: #0a9504;
  --pk-support-01A: #19c201;
  --pk-support-01B: #70ed5e;
  --pk-support-02: #205bc8;
  --pk-support-02A: #009fe3;
  --pk-support-02B: #47c6fd;
  --pk-support-03: #e87223;
  --pk-support-03A: #ff9933;
  --pk-support-03B: #ffb974;
  --pk-support-04: #cb333b;
  --pk-support-04A: #ff3b3b;
  --pk-support-04B: #ff8787;
  --pk-support-05: #ffcd44;
  --pk-support-05A: #ffdc7c;
  --pk-support-05B: #ffe7a7;
  // Elevation
  --pk-background: #f4f3f2;
  --pk-elevation-01: #ffffff;
  --pk-elevation-02: #ffffff;
  --pk-elevation-03: #ffffff;
}